<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="Newtonsoft.Json" version="12.0.3" />
  <package id="runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl" version="4.3.2" />
  <package id="runtime.fedora.23-x64.runtime.native.System.Security.Cryptography.OpenSsl" version="4.3.2" />
  <package id="runtime.fedora.24-x64.runtime.native.System.Security.Cryptography.OpenSsl" version="4.3.2" />
  <package id="runtime.native.System" version="4.3.0" />
  <package id="runtime.native.System.Net.Http" version="4.3.0" />
  <package id="runtime.opensuse.13.2-x64.runtime.native.System.Security.Cryptography.OpenSsl" version="4.3.2" />
  <package id="System.Buffers" version="4.4.0" />
  <package id="System.Collections" version="4.3.0" />
  <package id="System.Collections.NonGeneric" version="4.3.0" />
  <package id="System.Collections.Specialized" version="4.3.0" />
  <package id="System.ComponentModel" version="4.3.0" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" />
  <package id="System.Data.Common" version="4.3.0" />
  <package id="System.Diagnostics.Debug" version="4.3.0" />
  <package id="System.Drawing.Common" version="4.5.1" />
  <package id="System.Globalization" version="4.3.0" />
  <package id="System.Globalization.Extensions" version="4.3.0" />
  <package id="System.IO" version="4.3.0" />
  <package id="System.Linq" version="4.3.0" />
  <package id="System.Memory" version="4.5.1" />
  <package id="System.Numerics.Vectors" version="4.4.0" />
  <package id="System.Reflection" version="4.3.0" />
  <package id="System.Reflection.Extensions" version="4.3.0" />
  <package id="System.Reflection.Primitives" version="4.3.0" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" />
  <package id="System.Resources.ResourceManager" version="4.3.0" />
  <package id="System.Runtime" version="4.3.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" />
  <package id="System.Runtime.Extensions" version="4.3.0" />
  <package id="System.Runtime.Handles" version="4.3.0" />
  <package id="System.Runtime.InteropServices" version="4.3.0" />
  <package id="System.Security.Claims" version="4.3.0" />
  <package id="System.Security.Cryptography.Cng" version="4.4.0" />
  <package id="System.Security.Cryptography.Pkcs" version="4.5.1" />
  <package id="System.Security.Principal" version="4.3.0" />
  <package id="System.Text.Encoding" version="4.3.0" />
  <package id="System.Text.RegularExpressions" version="4.3.0" />
  <package id="System.Threading" version="4.3.0" />
  <package id="System.Threading.Tasks" version="4.3.0" />
</packages>